<div class="front-matter">
  <h1>Welcome to The Hook</h1>
  <p>You have 140 characters to make your case. Good luck.</p>
  <p>Login!</p>

  <div class="login" >
    <%= form_tag(session_path) do %>
      <p><%= label_tag(:email) %><br/></p>
      <%= text_field_tag(:email) %><br/>
      <p><%= label_tag(:password) %><br/><p>
      <%= password_field_tag(:password) %><br/>
      <%= submit_tag('Login') %>
    <% end %>
    <p style="color: red"><%= flash[:error] %> </p>
  </div>
  <p><%= link_to('Sign up', new_user_path) %>
</div>
