<h1>Showing All the Pitches</h1>

<!-- Search bar  -->
<%= form_tag("/pitches", method: "post") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ol>
<% @pitches.each do |pitch| %>
<%= link_to(pitch.body, story_path(pitch.story_id)) %>
</br>
<% end %>
</ol>




