<%= link_to( "Click here to logout",session_path, method: 'delete') %>
</br>
<%= link_to( "Edit your profile", edit_user_path ) %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>

</p>
</br>
We will show their information here, and any of their stories
</br>
This persons EMAIL is <%= @user.email %>

<br>
First, let's try and display all the stories that belong to a user
<%= link_to('my stories', "#{@user.id}/stories") %>
</br>
<%= link_to('home',root_path) %>
