<!DOCTYPE html>
<html>
<head>
  <title>TojamersApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <header> THE HOOK | <%= link_to("profile", "/profile")%> | <%= link_to("all pitches", pitches_path) %>
  </header>
</br>
</head>
<body>

<%= yield %>
</body>
</html>
